neural_networks_petroleum_industry.pdf open-industrial-data-cognite-akerbp.pdf
doc/
tags
*.swo
*.swp
.env
tmp/
airflow/log
airflow/dag/__pycache__/
*.pyc
*.pyo
packrat/lib*/
packrat/src
*.csv
notes.md
bootstrap.css
